@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

body {
    margin: 0;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: #1f2937;
    padding: 1.5rem 8rem 5rem;
}

.logo {
    height: auto;
    width: 10%;
}

.main-pic {
    height: auto;
    width: 60%
}

.header ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.header a,
.header p {
    text-decoration: none;
    font-size: 24px;
    color: #d7e1f6;
    padding: 0 5px
}

.header a:hover {
    color: green
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header-body {
    display: flex;
    gap: 1rem
}

.header-body-content {
    display: flex;
    flex-direction: column;
    text-align: left;
}

button {
    width: 25%;
    padding: 10px 2px;
    background-color: #3882f6;
    font-size: 1rem;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 10px
}

button:hover {
    background-color: green;
    box-shadow: 2px 2px 2px black;
}

.header h1,
.content h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.info {
    padding: 0 10%
}

.content h1 {
    font-size: 36px;
    color: #1f2937;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    margin: 3rem
}

.img-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.img-container img {
    width: 95%;
    height: 150px;
    border-radius: 10px;
    border: 3px solid #1f2937;
}

.img-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0;
}

.img-container p {
    margin: 8px 1rem;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-family: 'Noto Sans', sans-serif;
    font-style: italic;
    color: #1f2937;
    padding: 5% 10%
}

.quoter {
    font-weight: 900;
    font-size: 24px;
}

.cta {
    margin: 7% 15%;
    text-align: left;
    padding: 1% 5%;
    display: flex;
    justify-content: space-between;
    background: #3882f6;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 10px;

}

.cta-text h2 {
    font-weight: 600;
    font-size: 24px;
    padding-right: 4rem;
}

.cta-text p {
    font-weight: 400;
    font-size: 18px;
    color: beige
}

.cta button {
    background-color: #1f2937;
    height: 3rem;
    width: 200px;
    padding: 5px;
    align-self: center;
}

.cta button:hover {
    background-color: green;
    box-shadow: 2px 2px 4px #1f2937;
}

.info img:hover ,.footer img:hover{
    transform: scale(1.02);
    box-shadow: 0 1px black
}

.footer {
    background-color: #1f2937;
    padding: 1rem;
    font-size: 1;
    font-family: Roboto, sans-serif;
    color: white
}

.footer img {
    border-radius: 50%;
    width: 5%;
    border: 1px solid white
}